<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reinhardt Vanwyk: EPortfolio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <style>
        #info-container {
            margin-top: 20px
        }

        .first-col {
            width:300px;
            height:250px
        }

        .first-col-row {
            width:300px;
            height:20px
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Reinhardt Vanwyk : EPortfolio</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resume">Resumé</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/website-architecture">How Was This Website Built?</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="info-container" class="container">
        <div class="row">
            <div class="col-md-auto">
                <div class="first-col-row"></div>
            </div>
            <div class="col-md-auto">
                <h1>Introduction to myself</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <img class="first-col" src="pictures/cindy_reinhardt.jpg">
            </div>
            <div class="col">
                <p>I am a Java API focused developer with expertise in microservices, SaaS, and Event Driven architectures.
                    I joined JPMorgan Chase after college and spent nearly six years working on various projects relating to regulation, marketing, and evergreen.
                    After working on my last project with JPMorgan Chase, I decided to try living in Miami for six months to emerse myself in a different experience, but due to some external factors, I decided to move back to Chicago.
                    To continue the emersion process, I joined Fiserv as a Contractor through KForce. In July 2020, I was offered a full-time position, and I currently am employed by Fiserv.</p>
                <b>Early part of my life: </b><p>I was born in Evander, South Africa in 1991. My parents, wanting a better future for their family, decided to move to Chicago in 1999. I grew up in Aurora, Illinois and graduated from Oswego East High School, and later Lewis University in Romeoville, Illinois with my Bachelors of Science in Computer Information Systems.</p>
                <b>What are my hobbies: </b><p>I've always been a fan of Electronic music since I was 7. I grew up being an outsider and listening to Trance music through middle and high school. In college, I bought myself DJ equipment and have stuck with DJing for the past seven years.</p>
                <p>I was also a Cross-Country and Track runner in High School and part of college, so I keep myself active currently. I am getting more into the science of our bodies and learning everyday about what foods and exercises work best for my body. Fitness and nutrition has become a passion of mine in the last few years.</p>
                <b>Where do I see myself in five years: </b>
                <p>Growing up, my mom always told me to build a skill and find my passion to apply the skill to. I'm in the never ending process of growing my IT skills, but I am at least finding my passion, which is to connect to people.
                    I would like to begin working on projects that reflect who I am as a person, where I can grow the most, and lend my passion to others in the same position. Once I get myself in the right project, I would like to move into management and focus on people development.</p>
            </div>
        </div>
    </div>
</body>
</html>